
<!-- <app-data-binding></app-data-binding> -->
<app-event-binding></app-event-binding>
<!-- <app-calculator></app-calculator>   -->
 <!-- <app-directives-practice></app-directives-practice>  -->
 <!-- <app-age-calculator></app-age-calculator>    -->
  <!-- <app-dependent-dropdown></app-dependent-dropdown>  -->
  
    <!-- <app-login></app-login>   -->

<!-- <app-practice></app-practice> -->
<!-- <app-otp-vrrification></app-otp-vrrification> -->
<!-- <app-productlist></app-productlist>  -->
<!-- <app-template-driven-form></app-template-driven-form> -->
<h2>Welcome to Git trial</h2>
<!-- <h1>Welcome to Angular</h1>
 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere pariatur accusamus harum molestias cum quasi qui illo iusto, perspiciatis optio labore doloribus sapiente iste voluptas amet numquam a, officia dignissimos.</p>
 <h3>my new angular pages</h3>  -->

 <h2>{{message}}</h2>
 <h3>{{message2}}</h3>
 