<p>event-binding works!</p>4

<button id="id1" (click)="login()">Login</button>
<h3>Count {{count}}</h3>

<button id="id1" (click)="Add()">Add to Cart</button> &nbsp;
<button id="id1" (click)="Remove()">Remove</button>

<button id="id1" (click)="performaction('increment')">Add to Cart</button> &nbsp;
<button id="id1" (click)="performaction('decrement')">Remove</button>


<h1 (click)="print()">Hover Me</h1>
<h3>Mera pehla angular app</h3>
<h4>
    hjfbdf kljskd jhsdsj
</h4>

<input type="text" nmae="myname" (change)="getdata($event)">